@media (max-width:375px) {

    main {
       border: none;
       justify-content: flex-start;
       padding: 0;
    }

    article {
        border-radius: 0;
        height: auto;
        width: 100%;
        margin: 0px;
        padding: 0;
    }

    article img {
        height: 200px;
        border-radius: 0;
    }

    .container-recipe {
        padding: 15px;
    }

    .attribution {
        display:none
    }
}